$FLEX_MAP: (
  'around': space-around,
  'between': space-between,
  'center': center,
  'end': flex-end,
  'start': flex-start,
  'stretch': stretch,
);

@function _getFlexValue($key) {
  @return map-get($FLEX_MAP, $key);
}

@mixin _flexbox($jc: center, $ai: center) {
  display: flex;
  align-items: _getFlexValue($ai);
  justify-content: _getFlexValue($jc);
}

@mixin horizontal($jc: center, $ai: center) {
  @include _flexbox($jc, $ai);
  flex-direction: row;
}

@mixin vertical($jc: center, $ai: center) {
  @include _flexbox($jc, $ai);
  flex-direction: column;
}

@mixin inline($jc: center, $ai: center) {
  @include _flexbox($jc, $ai);
  display: inline-flex;
}
